<%= form_for Biker.new  do |f| %>
	<div class="col-sm-8">
		<%= f.label :nombre %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<div class="col-sm-8">
		<%= f.label :email %>
		<%= f.text_field :email, class: "form-control" %>
	</div>

	<div class="col-sm-8">
		<%= f.label :telefono %>
		<%= f.number_field :number, class: "form-control" %>
	</div>
<br>
	<div class="col-sm-8">
		<%= f.submit "Enviar", class: "btn btn-success" %>
	</div>
<% end %>