<div class="head-section">
  <div class="device-background">
    <div class="device-text">
      <h5>La forma inteligente</h5>
      <h5>de realizar despachos</h5>
      <h5>en la gran ciudad.</h5>
      <ul>
        <%= link_to "#" do %>
        <li>PROBAR AHORA!</li> 
        <% end %>
        <%= link_to soy_ciclista_path do %>
        <li class="second-btn">SOY CICLISTA</li> 
        <% end %>
      </ul>

      <div class="question-paragraph">
        <p class="question-mark">?</p>
        <p>Asegúrate de poder concretar las entregas de productos en el mismo día y en los horarios que decidas.</p>
      </div>
    </div>
    <div class="device">
      <div class="screen"></div>
      <div class="screentwo"></div>
      <div class="screenthree"></div>

    </div>
  </div>
</div>


<div class="faq-index">

    <article>
    <section>
      <div class="chat">
        <h2>GUIA DE USO PARA CICLISTAS Y MENSAJEROS</h2>

        <div class="question">
          <%= image_tag("https://s3-us-west-2.amazonaws.com/velo-web/images/service1.png") %>
          <p>Como puedo ser parte de veloexpress?</p>
        </div>
      
        <div class="answer">
          <%= image_tag("https://s3-us-west-2.amazonaws.com/velo-web/images/ico.png") %>
          <p>Descarga la aplicacion para Android o IPhone, llena tus datos y estaras activo en unas 24 Horas! Puedes ver el tutorial de uso de la aplicacion <%= link_to "aqui", "#" %>. </p> 
        </div>

        <%= link_to pages_soporte_path do %>
          <div class="btn">
            <p>QUIERO SABER MAS</p>
          </div>
        <% end %>
      </div>

    </section>
    </article>
</div>



<div class="iconos-de-confianza">
    <section>
        <div class="iconos-header">
          <h2>¿Porque apostar por nosotros?</h2>
        </div>

        <div>
          <img src="https://s3-us-west-2.amazonaws.com/velo-web/images/icon-disponibilidad-trabajolibre.png">
          <h1>Disponibilidad</h1>
          <p>Asegúrate de poder concretar las entregas de productos en el mismo día y en los horarios que decidas. Tus clientes no pueden esperar.</p>
        </div>

        <div>
          <img src="https://s3-us-west-2.amazonaws.com/velo-web/images/icon-confiabilidad.png">
          <h1>Confiabilidad</h1>
          <p>Tus despachos con seguimiento en tiempo real a través de nuestra app. Una forma que asegura la entrega confiable de cada producto.</p>
        </div>

        <div>
          <img src="https://s3-us-west-2.amazonaws.com/velo-web/images/icon-amigable-pasion.png">
          <h1>Amigable</h1>
          <p>Somos un sistema que promueve el cuidado del miedo ambiente usando la bicicleta como medio de transporte para despachos de productos.</p>
        </div>
    </section>
</div>



<div class="quiero-usarlo">
  <section>
    <div>
      <h2>Te gustaria usar este servicio?</h2>
      <h2>Prueba un Envio Gratis!</h2>

      <%= link_to "http://www.envios.veloexpress.cl/sender/sign_up" do %>
      <div class="btn">
          <p>SOY PERSONA</p>
      </div>
      <% end %>

      <%= link_to "http://www.envios.veloexpress.cl/sender/sign_up" do %>
      <div class="btn">
          <p>SOY EMPRESA</p>
      </div>
      <% end %>
    </div>
  </section>
</div>

<div class="device">
  <div class="screen"></div>
  <div class="screentwo"></div>
  <div class="screenthree"></div>

</div>

<script>
  $(document).ready(function(){
    $('.device').slick({
        arrows: false,
        autoplay: true
    });
  });
</script>












