<div class="faq-soporte">
    <article>
      <section>
        <div>

          <h2>GUIA DE USO PARA CICLISTAS Y MENSAJEROS</h2>

          <div>
            <%= image_tag("https://s3-us-west-2.amazonaws.com/velo-web/images/service1.png") %>
            <p>Como puedo ser parte de veloexpress?</p>
          </div>
        
          <div>
            <%= image_tag("https://s3-us-west-2.amazonaws.com/velo-web/images/ico.png") %>
            <p>Descarga la aplicacion para Android o IPhone, llena tus datos y estaras activo en unas 24 Horas! Puedes ver el tutorial de uso de la aplicacion <%= link_to "aqui", "#" %>. </p> 
          </div>
        </div>

      </section>



      <section>
        <div>
          <div>
            <%= image_tag("https://s3-us-west-2.amazonaws.com/velo-web/images/service1.png") %>
            <p>Como me pagan el dinero de los envios que hago?</p>
          </div>
        
          <div>
            <%= image_tag("https://s3-us-west-2.amazonaws.com/velo-web/images/ico.png") %>
            <p>Mediante una transferencia electronica a la cuenta que nos facilitas al inscribirte.</p> 
          </div>
        </div>

      </section>

     

      <section>
        <div>
          <div>
            <%= image_tag("https://s3-us-west-2.amazonaws.com/velo-web/images/service1.png") %>
            <p>Como es la tema legal de mis carreras en Velo Express?</p>
          </div>
        
          <div>
            <%= image_tag("https://s3-us-west-2.amazonaws.com/velo-web/images/ico.png") %>
            <p>Descarga la aplicacion para Android o IPhone, llena tus datos y estaras activo en unas 24 Horas! Puedes ver el tutorial de uso de la aplicacion <%= link_to "aqui", "#" %>. </p> 
          </div>
        </div>

      </section>

      

      <section>
        <div>
          <div>
            <%= image_tag("https://s3-us-west-2.amazonaws.com/velo-web/images/service1.png") %>
            <p>Como puedo ser parte de veloexpress?</p>
          </div>
        
          <div>
            <%= image_tag("https://s3-us-west-2.amazonaws.com/velo-web/images/ico.png") %>
            <p>Nosotros nos hacemos cargo de emitir tu boleta electronica y pagar la rentencion que puedes recuperar el proximo año. Para saber en detalle la figura legal puedes revisar los <%= link_to " Terminos y Condiciones ", pages_terms_path %> de la aplicacion.</p> 
          </div>
        </div>
      </section>

     

      <section>
        <div>
          <div>
            <%= image_tag("https://s3-us-west-2.amazonaws.com/velo-web/images/service1.png") %>
            <p>¿Que necesito tener para trabajar en VeloExpress?</p>
          </div>
        
          <div>
            <%= image_tag("https://s3-us-west-2.amazonaws.com/velo-web/images/ico.png") %>
            <p>Debes contar con una bicicleta, Smartphone con internet movil y las ganas de pedalear =). </p> 
          </div>
        </div>

      </section>



      <section>
        <div>
          <div>
            <%= image_tag("https://s3-us-west-2.amazonaws.com/velo-web/images/service1.png") %>
            <p>Cuantos envios tengo que hacer al dia?</p>
          </div>
        
          <div>
            <%= image_tag("https://s3-us-west-2.amazonaws.com/velo-web/images/ico.png") %>
            <p>En Velo Express, tu eres tu propio jefe. Tu decides cuando quieres trabajar y cuantos envios quieres hacer. </p> 
          </div>
        </div>

      </section>
    </article>
</div>