<div class="header-ciclista"> 
    <div>
        <article>
            <section>
                <div>
                  <h1>La forma inteligente de realizar despachos en la gran ciudad.</h1>
                  <%= link_to "QUIERO UNIRME!", "#", class: "button" %> 
                  <p>Asegúrate de poder concretar las entregas de productos en el mismo día y en los horarios que decidas.</p>
                </div>
                <img src="/assets/ciclis.001.jpeg">
            </section>
        </article>
     </div>
</div>

<div class="nav-ciclista">
    <ul>
      <li><%= link_to "MI VELOHUB" %></li>
      <li><%= link_to "FOROS" %></li>
      <li><%= link_to "PREGUNTAS FRECUENTES", pages_soporte_path %></li>
    </ul>
</div>

<div class="perfil-ciclista">
  <article>
    <header>
      <h2>En tu bici, dedicate a lo que quieres, haciendo entregas en tu ciudad</h2>
    </header>

    <section>
      <h3>Santiago, Chile</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi perspiciatis iste maiores eaque incidunt, hic excepturi quasi laborum veniam, distinctio consequuntur nostrum temporibus nulla numquam dolore culpa aspernatur placeat vero!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente optio repudiandae itaque quae alias sunt quisquam fuga id, consequuntur dolore eveniet! Temporibus modi, distinctio, ad officia accusamus ullam beatae aperiam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero totam error odio, qui provident illum blanditiis at iure perspiciatis ad accusantium adipisci sit repellendus numquam temporibus asperiores ipsam, dignissimos sapiente.</p>
      <img src="/assets/app-callout-i5-landing.png" alt="">
      <ul>
        <li>Santiago</li>
        <li>Sao Paulo</li>
        <li>Copenhage</li>
        <li>Amsterdam</li>
        <li>New York</li>
      </ul>
    </section>

    <footer>
      
    </footer>
  </article>
</div>

<div class="iconos-de-confianza-ciclista">
    <section>
        <div class="iconos-header">
          <h2>¿Porque unirme a Velo Express?</h2>
        </div>

        <div>
          <img src="/assets/icon-amigable-pasion.png">
          <h1>Pasión</h1>
          <p>Entregamos una oportunidad de trabajo a los ciclistas, a través de una app que invita a despachar los productos de nuestros clientes en la ciudad.</p>
        </div>

        <div>
          <img src="/assets/icon-vidasana.png">
          <h1>Vida Sana</h1>
            <p>Si elegiste la bicicleta como tu opción de transporte, aprovecha de usarla también como un medio de trabajo.</p>
        </div>

        <div>
          <img src="/assets/icon-disponibilidad-trabajolibre.png">
          <h1>Trabajo Libre</h1>
            <p>Tu eliges cuándo y cuánto quieres trabajar. Organiza tu horario y decide cómo hacer entregas de productos en la ciudad. </p>
    </section>
</div>

<div class="faq-index">
    <section>
      <h2>PREGUNTAS FRECUENTES</h2>

      <div>
        <%= image_tag("service1.png") %>
        <p>Como puedo ser parte de veloexpress?</p>
      </div>
    
      <div>
        <%= image_tag("ico.png") %>
        <p>Descarga la aplicacion para Android o IPhone, llena tus datos y estaras activo en unas 24 Horas! Puedes ver el tutorial de uso de la aplicacion <%= link_to "aqui", "#" %>. </p> 

          <div>
              <p><%= link_to "Quiero Saber Mas", pages_soporte_path, class: "button"  %></p>
          </div>
      </div>


    </section>
</div>



        
        <h2 style="padding-top:30px;color:#848484;">¿Cómo usar la App?</h2>

    <h4 class="intro_app comentarios_intermedios" style="font-size:21px;padding-left:100px;padding-right:100px;padding-bottom:20px;color:#848484">Nuestra primera versión es bastante fácil de usar, hay 3 columnas principales; Envios Disponibles, Envios Activos e Historial. A continuación te mostramos un recorrido básico por la aplicación:</h4>

    <div class="foto_explicacion">
      <img src="/assets/envio_disponible_swipe.jpg" alt="envio disponible swipe" class="pull-left">
      <p class="explicacion">Envios Disponibles: </br>En esta pantalla puedes ver una lista de envios que se encuentran disponibles con informacion basica de la comuna de retiro y entrega. Si deslizas hacia la izquierda puedes ver de cuantos Km es el recorrido, cuanto dinero paga y cuando lo pagan, sin comprometerte a hacerlo.</p>
    </div>

    <div class="foto_explicacion">
      <img src="/assets/app_mapa.jpg" alt="app_mapa" class="pull-right">
      <p class="explicacion_izq">Al hacer click sobre un envío la App te muestra la ruta en forma de mapa, el punto "A" es el inicio y el punto "B" es el destino. Tambien apareces localizado tú con un icono rojo. Hasta este punto aun no has tomado la carrera, para info aun mas detallada del envio haz click en el boton "Acciones"</p>
    </div>

    <div class="foto_explicacion">
      <img src="/assets/comenzar_envio.jpg" alt="comenzar envio" class="pull-left">
      <p class="explicacion">En esta pantalla puedes ver informacion detallada del envío, como sus dimensiones, peso, nombre del destinatario y direcciones exactas. En esta pantalla es donde puedes decidir tomar el envío y realizarlo. Para hacer esto debes hacer click en el boton "Comenzar". Recuerda que tienes un tiempo limitado para cancelar la carrera una vez que la has tomado..</p>
    </div>

    <h3 class="comentarios_intermedios">Esta ha sido la primera parte del proceso en que tu libremente decides que envios quieres realizar. Si has tomado alguno podriamos decir que estas "En ruta a retirarlos". A continuacion te mostramos la forma de hacerlo, lo mas importante en esta fase es escanear el codigo QR que puede estar pegado en la caja o desde una pantalla de celular o computador.</h3>

    <div class="foto_explicacion">
      <img src="/assets/envio_activo_swipe.jpg" alt="envio activo swipe" class="pull-left">
      <p class="explicacion">Cuando deslizas el dedo sobre un envio puedes ver informacion preliminar de cuanto paga el envio y la fecha de pago, asi como tambien la distancia del recorrido desde el punto de retiro al destino de entrega </p>
    </div>

     <div class="foto_explicacion">
    <img src="/assets/qr_caja.jpg" alt="qr caja" class="pull-right">
    <p class="explicacion_izq">Al llegar al punto de retiro, se debe escanear el codigo QR. Esto es de SUMA IMPORTANCIA ya que desde este punto en adelante eres responsable del envío. Por otra parte, no escanearlo significa que no has hecho el proceso bien y no recibiras el pago.</p>
    </div>

    <div class="foto_explicacion">
      <img src="/assets/qr_compu.jpg" alt="qr_compu" class="pull-left">
      <p class="explicacion">Al llegar al punto de retiro, la persona o empresa puede que no tenga impreso el codigo y te lo muestre directamente desde el computador o la pantalla de un dispositivo móvil.</p>
    </div>

    <h3 class="comentarios_intermedios">Ahora viene la parte final del proceso, la entrega. Esta procedimiento tambien es de suma importancia ya que por medio de fotos nos demostraras que has entregado efectivamente el envío o que ha fracasado por algun motivo como direccion erronea o que no se encuentre nadie en la dirección. Recuerda que si el envío es fallido se te pagará de todas formas pero debe volver al punto de origen o en su defecto a la oficina de Velo Express. </br>Para un envío exitoso tienes las siguientes opciones:</h3>

    <ul class="lista_foto_entrega">
      <li>Foto Carnet de quien recibe</li>
      <li>Foto de la persona que recibe con el producto</li>
      <li>Foto del nombre, rut y firma</li>
      <li>En caso de ser conserjeria puedes usar el nombre del conserje y timbre del edificio.</li>
    </ul>
    
    <div class="foto_explicacion">
    <img src="/assets/foto_carnet.jpg" alt="foto carnet" class="pull-right">
    <p class="explicacion_izq">La forma mas efectiva de demostrar una entrega exitosa es con el carnet de la persona que recibe. En caso de no estar disponible puede usarse otra identificacion como licencia de conducir, identificacion de empresa u otro. De no ser posible este metodo, revisa las otras formas de demostrar la entrega exitosa.</p>
    </div>

    <div class="foto_explicacion">
    <img src="/assets/foto_persona.jpg" alt="foto persona" class="pull-left">
    <p class="explicacion">Otra forma de finalizar el envío exitosamente es con una foto de la persona que recibe. No mucha gente acepta, pero es valido en caso de no tener carnet u otro documento de identificación.</p>
    </div>

    <div class="foto_explicacion">
    <img src="/assets/foto_casa.jpg" alt="foto casa" class="pull-right">
    <p class="explicacion_izq">Al momento de entregar el envío puedes sacar cuantas fotos quieras para demostrar que lo has hecho con exito o ha sido un envío fallido. Un ejemplo de esto es tomar una foto de la casa o la direccion a la que llegaste, de esta forma podemos comprobarlo con el cliente si es que hay algun problema.</p>
    </div>

    <div class="foto_explicacion">
    <img src="/assets/ingreso_foto_exitosa.jpg" alt="ingreso foto exitosa" class="pull-left">
    <p class="explicacion">Al llegar al destino indicado se debe tomar una fotografia que acredita la entrega exitosa o fallida, en el caso de que la entrega sea exitosa se debe tomar una foto al carnet de quien recibe, a la persona con el envio, o en su defecto a un papel con nombre rut y firma o timbre en el caso de empresas o edificios. Si la entrega es fallida se toma una foto del lugar donde no hubo respuesta.</p>
    </div>

    <div class="foto_explicacion">
    <img src="/assets/pop_envio_exitoso.jpg" alt="pop envio exitoso" class="pull-right">
    <p class="explicacion_izq">Si el envío se finalizo bien en el sistema, deberias ver un mensaje que dice "El envío ha sido finalizado y marcado como exitoso(o fallido)". Otro mensaje quiere decir que ha habido algun problema en el sistema o con tu conexion a Internet por lo que deberias comunicarte con alguien de nuestro equipo.</p>
    </div>

    <div class="foto_explicacion">
    <img src="/assets/boton_finalizar_entrega.jpg" alt="boton finalizar entrega" class="pull-left">
    <p class="explicacion">Luego de haber tomado las fotos para demostrar una entrega exitosa o fallida, debes hacer click en el boton "Finalizar Entrega". De esta forma se da por cerrado el envío.</p>
    </div>

    <div class="foto_explicacion">
    <img src="/assets/handshake.jpg" alt="handshake" class="pull-right">
    <p class="explicacion_izq">Una buena forma de hacer mas facil la entrega es ser amable con la gente. Recuerda siempre saludar con una sonrisa, hablar con tranquilidad, tratar a la gente como si fuese un pariente cercano. Muchas problemas se solucionan con la buena voluntad de las personas.</p>
    </div>

    <h3 class="comentarios_intermedios">Eso fue todo! Has finalizado un envío. En la columna "historial" encontrarás la lista de tus envíos realizados con información acerca del proceso, estado de pago y la fecha de pago. Esperamos que hayas disfrutado esta nueva forma de trabajar!</h3>

    
    <div class="foto_explicacion">
    <img src="/assets/historial_envios.jpg" alt="historial envios" class="pull-left">
    <p class="explicacion">En tu historial puedes ver la informacion completa sobre cada envio realizado y el estado en el que se encuentra, por ejemplo si fue confirmado o no por el destinatario o la situacion de pago</p>
    </div>
    
