<div class="header-ciclista"> 
  <div>
      <article>
          <section>
              <div>
                <h5>Una forma libre de trabajar</h5>
                <ul>
                <%= link_to "#" do %>
                  <li>QUIERO UNIRME</li> 
                <% end %>
                </ul>
                <p>Asegúrate de poder concretar las entregas de productos en el mismo día y en los horarios que decidas.</p>
              </div>
              <img src="https://s3-us-west-2.amazonaws.com/velo-web/images/ciclis.001.jpeg">
          </section>
      </article>
   </div>

  <div class="nav-ciclista">
    <ul>
      <li><%= link_to "MI VELOHUB" %></li>
      <li><%= link_to "FOROS" %></li>
      <li><%= link_to "PREGUNTAS FRECUENTES", pages_soporte_path %></li>
    </ul>
  </div>
</div>

<div class="perfil-ciclista">
  <article>
    <header>
      <h2>En tu bici, dedicate a lo que quieres, haciendo entregas en tu ciudad</h2>
    </header>

    <section>
      <h3>Santiago, Chile</h3>
      <p>Santiago de Chile la capital de Latinoamerica donde hemos comenzado nuestras operaciones. Posee una creciente comunidad ciclista, un clima seco sin mucha lluvia y es una ciudad razonablemente plana, condiciones ideales para pedalear. Si eres ciclista de VeloExpress puedes usar la aplicacion en cualquier ciudad donde tengamos operaciones. Unete a nuestra comunidad y se parte de este cambio en la manera de ver el trabajo, disfruta pedaleando en tu bicicleta mientras ganas dinero por ello.</p>
      <img src="https://s3-us-west-2.amazonaws.com/velo-web/images/app-callout-i5-landing.png" alt="">
      <ul>
        <li>Santiago</li>
        <li>Sao Paulo</li>
        <li>Copenhage</li>
        <li>Amsterdam</li>
        <li>New York</li>
      </ul>
    </section>

    <footer>
      
    </footer>
  </article>
</div>



<div class="iconos-de-confianza-ciclista">
    <section>
        <div class="iconos-header">
          <h2>¿Porque unirme a Velo Express?</h2>
        </div>

        <div>
          <img src="https://s3-us-west-2.amazonaws.com/velo-web/images/icon-amigable-pasion.png">
          <h1>Pasión</h1>
          <p>Entregamos una oportunidad de trabajo a los ciclistas, a través de una app que invita a despachar los productos de nuestros clientes en la ciudad.</p>
        </div>

        <div>
          <img src="https://s3-us-west-2.amazonaws.com/velo-web/images/icon-vidasana.png">
          <h1>Vida Sana</h1>
            <p>Si elegiste la bicicleta como tu opción de transporte, aprovecha de usarla también como un medio de trabajo.</p>
        </div>

        <div>
          <img src="https://s3-us-west-2.amazonaws.com/velo-web/images/icon-disponibilidad-trabajolibre.png">
          <h1>Trabajo Libre</h1>
            <p>Tu eliges cuándo y cuánto quieres trabajar. Organiza tu horario y decide cómo hacer entregas de productos en la ciudad. </p>
    </section>
</div>



<div class="faq-soy-ciclista">
    <section>
      <div class="chat">
        <h2>PREGUNTAS FRECUENTES</h2>

        <div class="question">
          <%= image_tag("https://s3-us-west-2.amazonaws.com/velo-web/images/service1.png") %>
          <p class="message">Como puedo ser parte de veloexpress?</p>
        </div>
      
        <div class="answer">
          <%= image_tag("https://s3-us-west-2.amazonaws.com/velo-web/images/ico.png") %>
          <p class="message">Descarga la aplicacion para Android o IPhone, llena tus datos y estaras activo en unas 24 Horas! Puedes ver el tutorial de uso de la aplicacion <%= link_to "aqui", "#" %>. </p> 
        </div>
        <%= link_to pages_soporte_path do %>
          <div class="btn">
            <p>QUIERO SABER MAS</p>
          </div>
        <% end %>
      </div>


    </section>


    <section class="como-usar-la-app">
          
        <%= link_to onboarding_index_path do %>  
          <img class="" style="margin-top:2em" width="280px" src="https://s3-us-west-2.amazonaws.com/velo-web/images/app-crop.png" alt="app veloexpress" />
          
          <div>
          <h2>¿Cómo uso la App?</h2>
          <p class="intro">Revisa el Turorial de uso de la aplicacion!</p>
          </div>
        <% end %>

    </section>

</div>


    
