<div class="footer-container">

    <footer>
      <div>
        <h2>Usuarios</h2>
        <ul>
          <li><%= link_to "Preguntas Frecuentes", pages_soporte_path %></li>
          <li><%= link_to "Soy Ciclista", soy_ciclista_path %></li>
          <li><%= link_to "Soy Empresa" %></li>
          <li><%= link_to "Blog", posts_path %></li>
        </ul>
      </div>

      <div>
        <h2>Conocenos</h2>
        <ul>
          <li><%= link_to "Inicio", root_path %></li>
          <li><%= link_to "Acerca de" %></li>
          <li><%= link_to "Blog", posts_path %></li>
          <li><%= link_to "Terminos y Condiciones", pages_terms_path %></li>
          <li><%= link_to "Privacidad" %></li>
        </ul>
      </div>

      <div>
        <h2>Redes Sociales</h2>
        <ul>
          <li><%= link_to "Facebook", "https://www.facebook.com/Velo-Express-1517442391831882/" %></li>
          <li><%= link_to "Twitter" %></li>
          <li><%= link_to "Instagram" %></li>
          <li><%= link_to "API for Developer" %></li>
        </ul>
      </div>

      <div class="sup">
        <p>Velo Express entrega trabajo a los ciclistas a través de una app que invita a despachar envios en la ciudad.</p>
        <img src="https://s3-us-west-2.amazonaws.com/velo-web/images/logo-start-up-chile.png" alt="SUP Chile">
      </div>
    </footer>
</div>